Relation-SPA/.editorconfig
Relation.API/AppData/Relations_log.ldf
Relation.API/AppData/Relationst.mdf
RelationInfrastructure/obj
RelationInfrastructure/bin
RelationsBll/bin
RelationsBll/obj
Relation-SPA/node_modules
Relation.API/.vs
Relation.API/obj
Relation.API/bin
.vs
Relation-SPA/dist
Relations.App.Tests/obj
Relations.App.Tests/bin
