<div class="container-fluid cont-config">
  <div class="row">
    <div class="col-md-8">
      <div class="btn-group" dropdown>
        <button id="button-animated" dropdownToggle type="button" class="btn btn-info dropdown-toggle"
          aria-controls="dropdown-animated">
          Select Category<span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li role="menuitem">
            <a class="dropdown-item" role="button" (click)="loadAllRelations()">Load All</a>
            <a class="dropdown-item" role="button" *ngFor="let category of categories"
              (click)="sendCategoryId(category.id)">{{ category.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row justify-content-end side-bar">
        <button type="button" class="btn btn-success" (click)="openModal(template)">
          Add +
        </button>
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">New Relation</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addRelationForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="relationCategoryId">Select Category</label>
                <select class="form-control" id="relationCategoryId" formControlName="relationCategoryId">
                  <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control" formControlName="name" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('name').invalid &&
                    addRelationForm.get('name').touched
                  ">Please enter valid Name</span>
                <span class="help-block" *ngIf="addRelationForm.get('name').errors?.pattern">The Name should be 2 to 11
                  characters long, must contain only
                  letters</span>
              </div>
              <div class="form-group">
                <label for="fullName">FullName</label>
                <input type="text" id="fullName" class="form-control" formControlName="fullName" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('fullName').invalid &&
                    addRelationForm.get('fullName').touched
                  ">Please enter valid FullName</span>
                <span class="help-block" *ngIf="addRelationForm.get('fullName').errors?.pattern">The FullName should be
                  2 to 15 characters long, must contain
                  only letters</span>
              </div>
              <div class="form-group">
                <label for="emailAddress">Email</label>
                <input type="email" id="emailAddress" class="form-control" formControlName="emailAddress" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('emailAddress').invalid &&
                    addRelationForm.get('emailAddress').touched
                  ">Please enter valid email</span>
              </div>
              <div class="form-group">
                <label for="telephoneNumber">Telephone Number</label>
                <input type="text" id="telephoneNumber" class="form-control" formControlName="telephoneNumber" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('telephoneNumber').invalid &&
                    addRelationForm.get('telephoneNumber').touched
                  ">Please enter valid Telephone Number</span>
                <span class="help-block" *ngIf="addRelationForm.get('telephoneNumber').errors?.pattern">
                  Telephone Number should be 12 characters long, must contain
                  only numbers
                </span>
              </div>
              <div class="form-group">
                <label for="countryId">Select Country</label>
                <select class="form-control" id="countryId" formControlName="countryId">
                  <option *ngFor="let countrie of countries" value="{{ countrie.id }}">{{ countrie.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" formControlName="city" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('city').invalid &&
                    addRelationForm.get('city').touched
                  ">Please enter valid City</span>
                <span class="help-block" *ngIf="addRelationForm.get('city').errors?.pattern">
                  City should be 2 characters long, must contain only letters
                </span>
              </div>
              <div class="form-group">
                <label for="street">Street</label>
                <input type="text" id="street" class="form-control" formControlName="street" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('street').invalid &&
                    addRelationForm.get('street').touched
                  ">Please enter valid Street</span>
                <span class="help-block" *ngIf="addRelationForm.get('street').errors?.pattern">
                  Street should be 2 characters long, must contain only letters
                </span>
              </div>
              <div class="form-group">
                <label for="number">Street Number</label>
                <input type="number" id="number" class="form-control" formControlName="number" min="0" />
                <span class="help-block" *ngIf="
                    addRelationForm.get('number').invalid &&
                    addRelationForm.get('number').touched
                  ">Please enter valid Street</span>
                <span class="help-block" *ngIf="addRelationForm.get('number').errors?.pattern">
                  Street Number should be 2 characters long
                </span>
              </div>
              <div class="form-group">
                <label for="postalCode">Postal Code</label>
                <input type="text" id="postalCode" class="form-control" formControlName="postalCode" />
              </div>
              <button class="btn btn-success" type="submit" (click)="modalRef.hide()" [disabled]="addRelationForm.invalid">
                Submite
              </button>
            </form>
          </div>
        </ng-template>
        <button class="btn btn-danger" type="button" [disabled]='relationsToDisable.length === 0' (click)="disableRelations()">
          Confirm Deletion
        </button>
        <button class="btn btn-primary" type="button" [disabled]='relationsToDisable.length === 0' (click)="discardSelected()">
          Discard Last
        </button>
        <button class="btn btn-warning" type="button" [disabled]='relationsToDisable.length !== 2' (click)="discardAll()">
          Discard All
        </button>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">FullName</th>
        <th scope="col">Email</th>
        <th scope="col">Telephone Number</th>
        <th scope="col">Country</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">StreetNumber</th>
        <th scope="col">PostalCoder</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let relation of relations">
        <td>{{ relation.name }}</td>
        <td>{{ relation.fullName }}</td>
        <td>{{ relation.emailAddress }}</td>
        <td>{{ relation.telephoneNumber }}</td>
        <td>{{ relation.countryName }}</td>
        <td>{{ relation.city }}</td>
        <td>{{ relation.street }}</td>
        <td>{{ relation.number }}</td>
        <td>{{ relation.postalCode }}</td>
        <td>
          <button type="button" class="btn btn-warning" (click)="openModal2(template, relation, countries, categories)">
            <i class="fa fa-edit"></i>
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Relation</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editRelationForm" (ngSubmit)="submitEdit()">
                  <div class="form-group">
                    <label for="relationCategoryId">Select Category</label>
                    <select class="form-control" id="relationCategoryId" formControlName="relationCategoryId">
                      <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" value="{{relation.name}}" formControlName="name" />
                    <span class="help-block" *ngIf="
                        editRelationForm.get('name').invalid &&
                        editRelationForm.get('name').touched
                      ">Please enter valid Name</span>
                    <span class="help-block" *ngIf="editRelationForm.get('name').errors?.pattern">The Name should be 2 to 11
                      characters long, must contain only
                      letters</span>
                  </div>
                  <div class="form-group">
                    <label for="fullName">FullName</label>
                    <input type="text" id="fullName" class="form-control" value="{{relation.fullName}}" formControlName="fullName" />
                    <span class="help-block" *ngIf="
                        editRelationForm.get('fullName').invalid &&
                        editRelationForm.get('fullName').touched
                      ">Please enter valid FullName</span>
                    <span class="help-block" *ngIf="editRelationForm.get('fullName').errors?.pattern">The FullName should be
                      2 to 15 characters long, must contain
                      only letters</span>
                  </div>
                  <div class="form-group">
                    <label for="emailAddress">Email</label>
                    <input type="email" id="emailAddress" class="form-control" value="{{relation.emailAddress}}" formControlName="emailAddress" />
                    <span class="help-block" *ngIf="
                        editRelationForm.get('emailAddress').invalid &&
                        editRelationForm.get('emailAddress').touched
                      ">Please enter valid email</span>
                  </div>
                  <div class="form-group">
                    <label for="telephoneNumber">Telephone Number</label>
                    <input type="text" id="telephoneNumber" class="form-control" value="{{relation.telephoneNumber}}" formControlName="telephoneNumber" />
                    <span class="help-block" *ngIf="
                        editRelationForm.get('telephoneNumber').invalid &&
                        editRelationForm.get('telephoneNumber').touched
                      ">Please enter valid Telephone Number</span>
                    <span class="help-block" *ngIf="editRelationForm.get('telephoneNumber').errors?.pattern">
                      Telephone Number should be 12 characters long, must contain
                      only numbers
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="countryId">Select Country</label>
                    <select class="form-control" id="countryId" formControlName="countryId">
                      <option *ngFor="let countrie of countries" value="{{ countrie.id }}">{{ countrie.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" value="{{relation.city}}" formControlName="city" />
                    <span class="help-block" *ngIf="
                    editRelationForm.get('city').invalid &&
                    editRelationForm.get('city').touched
                      ">Please enter valid City</span>
                    <span class="help-block" *ngIf="editRelationForm.get('city').errors?.pattern">
                      City should be 2 characters long, must contain only letters
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="street">Street</label>
                    <input type="text" id="street" class="form-control" value="{{relation.street}}" formControlName="street" />
                    <span class="help-block" *ngIf="
                    editRelationForm.get('street').invalid &&
                    editRelationForm.get('street').touched
                      ">Please enter valid Street</span>
                    <span class="help-block" *ngIf="editRelationForm.get('street').errors?.pattern">
                      Street should be 2 characters long, must contain only letters
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="number">Street Number</label>
                    <input type="number" id="number" class="form-control" value="{{relation.number}}" formControlName="number" min="0" />
                    <span class="help-block" *ngIf="
                    editRelationForm.get('number').invalid &&
                    editRelationForm.get('number').touched
                      ">Please enter valid Street</span>
                    <span class="help-block" *ngIf="editRelationForm.get('number').errors?.pattern">
                      Street Number should be 2 characters long
                    </span>
                  </div>
                  <div class="form-group">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" id="postalCode" class="form-control" value="{{relation.postalCode}}" formControlName="postalCode" />
                  </div>
                  <button class="btn btn-success" type="submit" (click)="modalRef.hide()" [disabled]="editRelationForm.invalid">
                    Submite
                  </button>
                </form>
              </div>
            </ng-template>
          </button>
          <button type="button" class="btn btn-danger" [disabled]="disableButton(relation.id)"
            (click)="addRelationId(relation.id)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Sample for ToDo - Pagination;  -->
  <pagination [boundaryLinks]="true" [totalItems]="totalItems" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
  <!--  Sample for ToDo - Pagination;  -->
</div>